@import "colors";

.jumbotron {
  position: relative;
  height: 90vh;
  max-height: 1000px;
  border-radius: 0;
  padding-top: 15%;
  background-image: url("../img/header.jpg");
  background: linear-gradient(
      rgba(115, 216, 246, 0.7),
      rgba(115, 130, 246, 0.9)
    ),
    url("../img/header.jpg");
  background-size: cover;
  color: #fff;
  margin-bottom: 0;

  .btn-light {
    color: #fff;
    background-color: #fff;
    border-color: #fff;
    color: $black;
    border-radius: 30px;
    padding: 5px 30px;
  }

  h1,
  p {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: 2px;
    color: red;

    @media (max-width: 992px) {
      font-size: 2rem;
    }
  }
}

/* Hover Shadow */
@keyframes hover {
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(-6px);
  }
}
@keyframes hover-shadow {
  0% {
    transform: translateY(6px);
    opacity: 0.4;
  }
  50% {
    transform: translateY(3px);
    opacity: 1;
  }
  100% {
    transform: translateY(6px);
    opacity: 0.4;
  }
}
.hover-shadow {
  display: inline-block;
  position: relative;
  transition-duration: 0.3s;
  transition-property: transform;
  -webkit-tap-highlight-color: transparent;
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hover-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  /* W3C */
  transition-duration: 0.3s;
  transition-property: transform opacity;
}
.hover-shadow:hover {
  transform: translateY(-6px);
  animation-name: hover;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.hover-shadow:hover:before {
  opacity: 0.4;
  transform: translateY(6px);
  animation-name: hover-shadow;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.scroll_down {
  position: absolute;
  bottom: -25px;
  left: 50%;
  color: #222;
  background-color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 40px;
  text-align: center;
  font-size: 30px;
  line-height: 60px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  transition-duration: 0.3s;
  transition-property: transform;
  -webkit-tap-highlight-color: transparent;
  transform: translateX(-50%);
  box-shadow: 0 0 1px transparent;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    bottom: -30px;
  }
}

.section {
  margin-bottom: 30px;
  text-align: center;
  color: #fff;

  p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }
}

h2 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}
