.jumbotron {
  position: relative;
  height: 90vh;
  max-height: 1000px;
  border-radius: 0;
  padding-top: 15%;
  background-image: url("../img/header.jpg");
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(115, 216, 246, 0.7)), to(rgba(115, 130, 246, 0.9))), url("../img/header.jpg");
  background: linear-gradient(rgba(115, 216, 246, 0.7), rgba(115, 130, 246, 0.9)), url("../img/header.jpg");
  background-size: cover;
  color: #fff;
  margin-bottom: 0;
}

.jumbotron .btn-light {
  color: #fff;
  background-color: #fff;
  border-color: #fff;
  color: #101010;
  border-radius: 30px;
  padding: 5px 30px;
}

.jumbotron h1,
.jumbotron p {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: 2px;
}

@media (max-width: 992px) {
  .jumbotron h1,
  .jumbotron p {
    font-size: 2rem;
  }
}

/* Hover Shadow */
@-webkit-keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
}
@keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
}

@-webkit-keyframes hover-shadow {
  0% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    opacity: 0.4;
  }
  50% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    opacity: 0.4;
  }
}

@keyframes hover-shadow {
  0% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    opacity: 0.4;
  }
  50% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    opacity: 0.4;
  }
}

.hover-shadow {
  display: inline-block;
  position: relative;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-tap-highlight-color: transparent;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
}

.hover-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform opacity;
  transition-property: -webkit-transform opacity;
  transition-property: transform opacity;
  transition-property: transform opacity, -webkit-transform opacity;
}

.hover-shadow:hover {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  -webkit-animation-name: hover;
          animation-name: hover;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.hover-shadow:hover:before {
  opacity: 0.4;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  -webkit-animation-name: hover-shadow;
          animation-name: hover-shadow;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.scroll_down {
  position: absolute;
  bottom: -25px;
  left: 50%;
  color: #222;
  background-color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 40px;
  text-align: center;
  font-size: 30px;
  line-height: 60px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-tap-highlight-color: transparent;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0 0 1px transparent;
          box-shadow: 0 0 1px transparent;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.scroll_down:hover {
  bottom: -30px;
}

.section {
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
}

.section p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

h2 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}
/*# sourceMappingURL=header.css.map */