@import "colors";

.container {
  // margin-bottom: 100px;
  position: relative;
}

.container__background__gray {
  background-color: $gray-very-light;
}

.container__background__blue {
  background-color: $blue-dark;
  margin-top: 150px;
  color: #fff;

  .title {
    color: #fff;
  }
}

.background--blue {
  background-color: $blue-dark;
  color: #fff;
  padding-bottom: 30px;

  .title {
    color: #fff;
  }
}

.btn-primary {
  border-radius: 20px;
  margin: 30px 0;
  background-color: $blue-dark;
  border-color: $blue-dark;

  a {
    color: #fff;
    font: 16px;
    line-height: 22px;
  }
}

.background--gray {
  background-color: $gray-light;
}

.row {
  margin: 0;
}

.background_blue {
  background-color: $blue-dark;
  padding: 40px 20px;
}

.text_white {
  color: #fff;
}

.text_black {
  color: $black;
}
