@import "colors";

.subscription {
  margin-top: 100px;
  margin-bottom: 30px;
  padding: 30px;
  text-align: center;

  .subscription__text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      margin-bottom: 0;
      text-align: center;
    }
  }

  input {
    border: 1px solid #fff;
    margin: 10px auto;
    border-radius: 20px;
    width: 200px;
    color: #0269b5;
    font-weight: 600;
    background-color: #fff;
    border-color: #fff;
    border: 1px solid #fff;
    padding: 0.375rem 0.75rem;
    text-align: center;
  }

  input::-webkit-input-placeholder {
    color: $black;
    font-weight: 400;
  }
  input:-moz-placeholder {
    color: $black;
    font-weight: 400;
  }

  .btn-orange {
    background-color: $orange-dark;
    border: 1px solid $orange-dark;
    color: #fff;
  }

  .subscription__email {
    text-align: center;
  }
}
