@import "colors";

.title {
  text-align: center;
  padding: 50px;
  color: $blue-dark;

  @media (max-width: 768px) {
    padding-left: 10px;
    padding-right: 10px;
  }

  h2 {
    font-weight: 700;
  }

  p {
    font-weight: 600;
  }
}
